.DS_Store

go.sum
bin/**

.env

test_*

AGENT.md
GOLANG.md
USING-GODOC.md
CODANNA.md

.repomix/
repomix.config.json
repomix-output.xml

.aider*
.claude/**
.codex/**
.gemini/**
.vscode/**

.mcp.json

.codanna/**
.codannaignore
.fastembed_cache/**

run_*.sh
run_format.sh
run_lint.sh
run_tests.sh
